/*Navigation*/

#primary-menu {
	display: flex;
	justify-content: flex-end;
	z-index: 999;
	position: fixed;
	/*right: -1%;*/
	width: 100%;
	margin: 0;
	padding-right: 1.5em;
	
}

#primary-menu li {
	list-style: none;
	padding: 15px 8px;
	transition: 0.25s;
}

#primary-menu li:hover {
	background-color: #72c5c0;
}

#primary-menu a {
	text-decoration: none;
	color: #000;
	padding: 15px 8px;
}


.nav-colored {
	background-color: #fcfcf0;
}

.menu-toggle {
		display: none;
	}


/*MOBILE MENU*/
@media only screen and (max-width: 768px) {
	
	#primary-menu {
		flex-direction: column;
		padding: 0;
		background-color: #72c5c0;
		margin-top: 5vh;
		
	}
	
	#primary-menu > li {
		margin: 0;
		width: 100%;
		text-align: end;
	}
	
	#primary-menu > li:hover {
		background-color: #fcfcf0;
	}
	
	#primary-menu a {
		display: block;
		padding: 5px 2vw;
	}
	
	.menu-toggle {
		display: block;
		border: none;
		font-size: 3vh;
		font-weight: bold;
		margin-left: 92vw;
		padding: 2vw;
		background-color: #72c5c0;
		cursor: pointer;
		position: fixed;
		z-index: 100;
	}
	
	.main-navigation {
		background-color: #72c5c0;
	}
	
	.menu-item {
		display: none;
	}
	
}



/* Small menu. */

/*.menu-toggle {
    right: 0;
    top: 0;
}

.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {

	

	
}

.site-main .comment-navigation,
.site-main
.posts-navigation,
.site-main
.post-navigation {
	margin: 0 0 1.5em;
}

.comment-navigation .nav-links,
.posts-navigation .nav-links,
.post-navigation .nav-links {
	display: flex;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	flex: 1 0 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	text-align: end;
	flex: 1 0 50%;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
/*.main-navigation {
	display: block;
	width: 100%;
}

.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: right;
	position: absolute;
	top: 100%;
	left: -999em;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	display: block;
	left: auto;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: auto;
}

.main-navigation li {
	position: relative;
}

.main-navigation a {
	display: block;
	text-decoration: none;
}*/